.demo_bg {
  /* background: linear-gradient(45deg, #afafaf 25%, #eaeaea 0, #eaeaea 50%, transparent 0)top left / 30px 30px,
   linear-gradient(45deg, transparent 50%, #afafaf 0, #afafaf 75%, #eaeaea 0)top left / 30px 30px; */
  background: linear-gradient(hsl(59, 68%, 85%) 50%, #9ccfd8);
  min-height: 100vh;
}
.link {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: bolder;
  user-select: none;
}
.code_earea {
  display: flex;
  margin-top: 20px;
}
.editor, .result {
  flex: 1;
  height: 800px;
}
.editor {
  background-color: #666666;
}
.result {
  background-color: #fff;
}
.tool_bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}
.editor_text {
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
  resize: none;
  height: 700px;
  box-sizing: border-box;
  padding: 20px;
}
.run {
  padding: 5px;
  background-color: rgba(248, 243, 233, 0.945);
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
  color: #333333;
  box-shadow: 1px 1px 0 0 #000000,
  2px 2px 0 0 #000000,
  3px 3px 0 0 #000000;
}
.run:active {
  box-shadow: none;
  transition: all .3s linear;
}